<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <mapping resource="com/fbdblog/dao/Error.hbm.xml" />
        <mapping resource="com/fbdblog/dao/App.hbm.xml" />
        <mapping resource="com/fbdblog/dao/Calculation.hbm.xml" />
        <mapping resource="com/fbdblog/dao/Chart.hbm.xml" />
        <mapping resource="com/fbdblog/dao/Chartyaxis.hbm.xml" />
        <mapping resource="com/fbdblog/dao/Dbcache.hbm.xml" />
        <mapping resource="com/fbdblog/dao/Dbcacheexpirable.hbm.xml" />
        <mapping resource="com/fbdblog/dao/Impression.hbm.xml" />
        <mapping resource="com/fbdblog/dao/Post.hbm.xml" />
        <mapping resource="com/fbdblog/dao/Postanswer.hbm.xml" />
        <mapping resource="com/fbdblog/dao/Question.hbm.xml" />
        <mapping resource="com/fbdblog/dao/Questioncalc.hbm.xml" />
        <mapping resource="com/fbdblog/dao/Questionconfig.hbm.xml" />
        <mapping resource="com/fbdblog/dao/Questionuserconfig.hbm.xml" />
        <mapping resource="com/fbdblog/dao/Supportissue.hbm.xml" />
        <mapping resource="com/fbdblog/dao/Supportissuecomm.hbm.xml" />
        <mapping resource="com/fbdblog/dao/Systemprop.hbm.xml" />
        <mapping resource="com/fbdblog/dao/Throwdown.hbm.xml" />
        <mapping resource="com/fbdblog/dao/User.hbm.xml" />
        <mapping resource="com/fbdblog/dao/Userappactivity.hbm.xml" />
        <mapping resource="com/fbdblog/dao/Userappstatus.hbm.xml" />
        <mapping resource="com/fbdblog/dao/Userappsettings.hbm.xml" />
        <mapping resource="com/fbdblog/dao/Userpersistentlogin.hbm.xml" />
        <mapping resource="com/fbdblog/dao/Userrole.hbm.xml" />

    </session-factory>
</hibernate-configuration>
